body {
  margin: 16px;
  max-width: 60em;
}

.drop-zone {
  height: 10em;
  border: black 2px solid;
  padding: 16px;
}

.Message {
  margin-bottom: 16px;
  background: white;
  padding: 16px;
  border: rgb(163, 163, 163) 1px solid;
}

img, video {
  max-width: 100%;
  max-height: 30em;
}

article {
  padding: 16px;
  background: #eee;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

article button {
  align-self: flex-end;
  margin-bottom: 16px;
  font-size: 24px;
}

@media print {
  article {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
    display: block;
    box-sizing: border-box;
  }
  article button {
    display: none;
  }
}